configVersion: 2.0.0
generation:
  sdkClassName: ${WL_SDK_CLASS_NAME}
  maintainOpenAPIOrder: true
  usageSnippets:
    optionalPropertyRendering: withExample
    sdkInitStyle: constructor
  useClassNamesForArrayFields: true
  fixes:
    nameResolutionDec2023: true
    nameResolutionFeb2025: true
    parameterOrderingFeb2024: true
    requestResponseComponentNamesFeb2024: true
    securityFeb2025: true
    sharedErrorComponentsApr2025: true
    sharedNestedComponentsJan2026: true
    nameOverrideFeb2026: true
  auth:
    oAuth2ClientCredentialsEnabled: true
    oAuth2PasswordEnabled: true
    hoistGlobalSecurity: true
  inferSSEOverload: true
  sdkHooksConfigAccess: true
  schemas:
    allOfMergeStrategy: shallowMerge
  requestBodyFieldName: body
  versioningStrategy: automatic
  persistentEdits: {}
  tests:
    generateTests: true
    generateNewTests: false
    skipResponseBodyAssertions: false
mcp-typescript:
  version: 2.0.6
  additionalDependencies:
    dependencies: {}
    devDependencies: {}
    peerDependencies: {}
  advancedFlags: []
  author: "${WL_AUTHOR_NAME}"
  baseErrorName: ${WL_SDK_CLASS_NAME}Error
  cloudflareEnabled: false
  defaultErrorName: ${WL_SDK_CLASS_NAME}DefaultError
  formStringArrayEncodeMode: array
  gramEnabled: false
  inferUnionDiscriminators: true
  inputModelSuffix: input
  maxMethodParams: 0
  mcpbManifestOverlay:
    displayName: ${WL_SDK_CLASS_NAME}
  multipartArrayFormat: standard
  outputModelSuffix: output
  packageName: "${WL_MCP_PACKAGE_NAME}"
  responseFormat: flat
  validateResponse: false
